body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.btn-primary,
.btn-outline-primary {
  background-color: #ffc000;
  color: #000000;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 1rem;
}

.rating span {
  color: #ffc000;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 700px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

.navbar-brand {
  font-weight: bold;
}

.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #27282c;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}

.active-cont {
  margin-left: 240px;
}

.active-nav {
  left: 0;
}

.text-bold {
  font-weight: bold;
}

button.thumbnail {
  padding: 0;
}

.profile-img {
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.shipment-method {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #ddd;
}

.tariff-name {
  font-size: 1.1rem;
}

.tariff-description {
  font-size: 1rem;
  color: #666;
}

.delivery-sum {
  font-size: 1.1rem;
}

.delivery-time {
  font-size: 0.9rem;
  font-style: italic;
  color: #999;
}

.continue-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.btn-delete {
  border-radius: 50%;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: transparent;
  color: white;
  margin-left: 5px;
}

.badges-container {
  display: 'flex';
  flex-wrap: 'wrap';
}

.custom-badge {
  background-color: transparent !important;
}

.form-product-image {
  width: 200px;
  height: 150px;
}

.color-cell {
  position: relative;
  padding: 0;
  border: 1px solid white;
}

.color-cell div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
